// Google Font - Roboto
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap');

// variáveis
$font-roboto: 'Roboto', sans-serif;
$background-general: #F2F2F2;
$background-fff: #FFF;
$color-text1: #5B5C65;
$color-text2: #00995D;

#container {
  padding: 15px;
  background: $background-general;
  padding-bottom: 60px;
}

.text-info-top {
  font-size: 13px;
  color: $color-text1;
  font-family: $font-roboto;
  font-weight: 100;
  margin-top: 0;
}

.cards {
  border-radius: 5px;
  box-shadow: 2px 2px 2px rgb(78 76 76 / 38%);
  font-family: $font-roboto;
  font-weight: 400;
  margin-left: 0;
  margin-right: 0;
  margin-top: 20px;
  margin-bottom: 20px;
  .cards-m-y {
    color: $color-text2;
    span {
      padding-left: 10px;
    }
  }
  .card-det-h1 {
    font-family: $font-roboto;
    font-weight: 700;
    font-size: 14px;
    color: $color-text1;
    margin-bottom: 20px;
  }
  .cards-det-right {
    position: absolute;
    right: 15px;
    top: 15px;
    text-align: center;
    .card-det-day {
      font-family: $font-roboto;
      font-weight: 100;
      color: $color-text1;
      font-size: 27px;
    }
    .card-det-month {
      font-family: $font-roboto;
      font-weight: 100;
      color: $color-text2;
      font-size: 15px;
    }
  }
  .cards-i-right {
    position: absolute;
    right: 15px;
    top: 21px;
    font-size: 1.5em;
    color: $color-text2;
  }
  .cards-det-rh {
    background: #ccc;
  }
  .cards-det-ul {
    list-style: none;
    padding-left: 16px;
    margin: 0;
    li {
      font-family: $font-roboto;
      font-size: 15px;
      font-weight: 100;
      color: #1E1E1E;
      line-height: 32pt;
    }
  }
}

.input-ion {
  border-radius: 5px;
  border: 1px solid #CFD3D6;
  font-family: $font-roboto;
  font-weight: 400;
  font-size: 12px;
  color: #5B5C85;
  background: $background-fff;
}
