<ion-scroll scrollX="true">
  <div id="container">
    <!-- Texto informativo -->
    <h1 class="text-info-top">Veja os cooperados que comemoram aniversário. Selecione uma data ou pesquise pelo nome.
    </h1>

    <!-- Cards -->
    <!-- Card Filtro -->
    <ion-card class="cards">
      <ion-card-header>
        <ion-card-title class="cards-m-y"><i class="fa fa-calendar"></i>
          <span> OUTUBRO - 2017</span>
        </ion-card-title>
        <i class="fa fa-caret-right cards-i-right"></i>
      </ion-card-header>
    </ion-card>

    <!-- Input de pesquisa pelo nome -->
    <ion-input class="input-ion" placeholder="Nome do aniversariante"></ion-input>

    <!-- Card Detalhes -->
    <ion-card class="cards">
      <ion-card-header>
        <h1 class="card-det-h1">ANIVERSARIANTES DO DIA</h1>
        <div class="cards-det-right">
          <span class="card-det-day">30</span><br>
          <span class="card-det-month">out</span>
        </div>
        <hr class="cards-det-rh">
      </ion-card-header>
      <!-- Listagem de nomes -->
      <ul class="cards-det-ul">
        <li>José da Silva Teixeira</li>
        <li>Luiz Carlos Garcia</li>
        <li>Maria Aparecida Vieria Couto</li>
        <li>Roberto Almeida Spoletti</li>
        <li>Ana Maria Cerqueira</li>
        <li>Pedro Arthur Nogueira Rispinni</li>
        <li>Francine Fonseca Pedrini</li>
      </ul>
    </ion-card>

  </div>
</ion-scroll>
