  <ion-header class="ion-header color-header">
    <div class="color-header">
      <ion-buttons slot="start" class="icon-header-left">
        <i class="fa fa-angle-left"></i>
      </ion-buttons>
      <ion-title class="uppercased">ANIVERSARIANTES</ion-title>
      <ion-buttons slot="start" class="icon-header-right">
        <i class="fa fa-bars"></i>
      </ion-buttons>
    </div>
  </ion-header>

  <ion-tabs class="ion-tabs">

    <ion-tab-bar class="segment-bg" slot="top">
      <ion-tab-button class="tab-button tab-button-active" tab="tab1">
        <ion-label class="segment-title segment-title-active">ANIVERSÁRIOS</ion-label>
      </ion-tab-button>

      <ion-tab-button class="tab-button" tab="tab2">
        <ion-label class="segment-title">UNIMED</ion-label>
      </ion-tab-button>

    </ion-tab-bar>
  </ion-tabs>
